<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MAI_RPC_URL</key>
	<string>$(MAI_RPC_URL)</string>
	<key>NSCameraUsageDescription</key>
	<string>Allow mai to take photos you choose to attach to a message.</string>
</dict>
</plist>
